<h1><%= @task.title %></h1>

<h2><%= @task.description %></h2>

<% if @task.has_incomplete_items? %>
<h3>Incomplete Items:</h3>

<ul>
	<% @task.task_items.incomplete.each do |task_item| %>
	<li><%= task_item.content %></li>
	<% end %>
</ul>
<% end %>

<% if @task.has_completed_items? %>
<h3>Complete Items:</h3>

<ul>
	<% @task.task_items.complete.each do |task_item| %>
	<li><%= task_item.content %></li>
	<% end %>
</ul>
<% end %>

<%= render partial: "task_items/form", locals: {task: @task, task_item: TaskItem.new} %>
<%= link_to 'Change', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
