<h1></h1>


<% @tasks.each do |task| %>
<div class="task" id="<%= dom_id(task) %>">
	<h2><%= task.content %></h2>
	<ul class= "functions">
		<li>Expires in <%= distance_of_time_in_words_to_now(task.expires_at)%></li>
		<li><%= link_to 'Edit', edit_task_task_item_path(task) %></li>
		<li><%= link_to "Destroy", [task.task, task], method: :delete, data: { confirm: "Are you sure?" }  %></li>
		<li><%= link_to "Task", task.task %></li>
	</ul>
	<br class="clear" />
</div>
<% end %>
	
<br>

<% link_to "New Todo List", new_task_path %>
