<h1><%= Todo Lists %></h1>


<% @tasks.each do |task| %>
<div class="task" id="<%= dom_id(task_item) %>">
	<h2<%= task.title %></h2>
	<p><%= task.description %></p>
	<ul class= "functions">
		<li><%= link_to "List Items", task_task_items_path(task_item) %></li>
		<li><%= link_to 'Show', task %></li>
		<li><%= link_to 'Edit', edit_task_task_path(task) %></li>
		<li><%= link_to "Destroy", task, method: delete:, data: { confirm: "Are you sure?" }  %></li>
	</ul>
	<br class="clear" />
</div>
<% end %>
	
<br>

<% link_to "New Todo List", new_task_path %>
